@font-face {
  font-family: 'nta';
  src: url(fonts/GDSTransportWebsite.eot?orgId=00D0Y000000Yr6P&0.19.2#) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nta';
  src: url(fonts/GDSTransportWebsite-Bold.eot?orgId=00D0Y000000Yr6P&0.19.2#) format('embedded-opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: url(fonts/GDSTransportTabular-Light.eot?orgId=00D0Y000000Yr6P&0.19.2#) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: url(fonts/GDSTransportTabular-Bold.eot?orgId=00D0Y000000Yr6P&0.19.2#) format('embedded-opentype');
  font-weight: bold;
}